.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
}

.field {
  font-size: 1rem;
  font-weight: bold;
  min-height: 1rem;
}

.edit-button {
  background-color: #4d4d4d;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}
