.container {
  width: 100%;
}
.container:hover {
  cursor: pointer;
}
.discussion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-primary);
}

.discussion {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-primary);
  white-space: pre-wrap;
}

.timestamp {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.url {
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 0.65rem;
  color: var(--text-secondary);
}
