.rows {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  height: 576px;
  border: 0 solid transparent; /* border: use it like padding without the scroll overflow */
  align-items: center;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.composer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.topic-container {
  position: relative;
  height: var(--topic-header-height);
  padding: 0;
  margin: 0;
}

.topic {
  --topic-header-height: 24px;
  width: 100%;
  height: var(--topic-header-height);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 4%;
  font-weight: 600;
  cursor: pointer;
}

.topic::before {
  position: absolute;
  top: var(--topic-header-height);
  transform: scale(0);
  transition: 150ms transform;
  transform-origin: top;
}

.topic::before {
  content: attr(data-tooltip);
  word-break: break-all;
  color: white;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 92%;
  background: #333;
}

.topic:hover::before {
  transform: scale(1);
}
